<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <title>百度新闻</title>
    <link rel='icon' href='/images/favicon.ico' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="tit-l fl">
          <a class="fl" href="http://m.baidu.com"></a>
          <a class="fr" href="/users"></a>
        </div>
        <div class="tit-r fr">
          <a class="fl" href="http://news.baidu.com/news#/searchpage"></a>
          <a class="fr" href="http://news.baidu.com/news#/subscribe/home"></a>
        </div>
      </nav>
    </header>
    <article>
      <nav class="nav">
        <!-- <div class="hideTit">
          <span >切换栏目</span>
          <button>∨</button>
        </div> -->
        <ul class="newsTitList">
        </ul>
      </nav>
      <div class="bigImg">
        <ul class="imgLists clearFix">
        </ul>
        <!-- <div class="smallControl">
          <span></span>
          <span></span>
          <span></span>
        </div> -->
      </div>
      <div class="newsList">
        <ul class="newsListWrap">
        </ul>
      </div>
    </article>
  </body>
</html>
